<b><font size="+3">CS 2302 Data Structures</font></b>

**Hash Tables and Sets**

**Author:** [Olac Fuentes](http://www.cs.utep.edu/ofuentes/)<br>
**Last modified:** 2021/10/7<br>
Please report errors to me.

# **Hash Tables**

How long does it take to determine if an item belongs to a group of items? 

*   O(n) if we use a list.
*   O(log n) if we use a binary search tree or a B-tree.  

We can perform this operation in O(1) time using a **hash table**.

How does a hash table work?

It uses a list of lists (called buckets) and a hash function *h*. 

Given item *k*, *h(k)* is the index of the bucket where *k* should be stored in the list.

If *k* is restricted to be an integer, a simple hash function is *h(k) = k%table_size*

Thus for a table of size 9, item 10 would be stored in bucket 1 (since 10%9=1), item 23 would be strored in bucket 5, and items 9 and 18 would be stored in bucket 0. 

Thus, to determine if *k* is in table *H*, we go directly to bucket *h(k)*. If *k* is not in that bucket, it means that it is not in the table. 

Since hash tables are designed to ensure buckets are short (usually 0 or 1 items), searching the appropriate bucket can be assumed to take O(1) time.

The following cell illustrates the implementation of a simple hash table.

In [ ]:
class HashTableChain:
    def __init__(self,n):
        # Create table with n buckets
        self.bucket = [[] for i in range(n)]  # Each of the n buckets is initially an empty list
        self.size = n

    def h(self, key):  # Returns the index of the bucket where key must be stored
        return key%self.size

    def insert(self,key):   # Inserts ket in appropriate bucket in the table.
        if not self.in_table(key): # Since we don't allow duplicates, we only insert if key is not in table already
          b = self.h(key)
          self.bucket[b].append(key)

    def remove(self,key):   # Inserts ket in appropriate bucket in the table.
        b = self.h(key)
        try:
            self.bucket[b].remove(key)
        except:
            print('Error: trying to remove an intem that is not in the table')

    def in_table(self,key): # Returns True if key is in the table
        b = self.h(key)
        return key in self.bucket[b]

    def print_table(self):
        print('Table contents:')
        for i in range(len(self.bucket)):
            print('bucket',i,':',self.bucket[i])

This creates a hash table with 7 buckets.

In [ ]:
H = HashTableChain(7)

We can print the table's contents:

In [ ]:
H.print_table()

The hash function for this table is h(k) = k%7.

Where would item 10 be stored? - in bucket 10%7, = 3 

H.insert(10) will append 10 to H.bucket[3], which is currently empty.

In [ ]:
H.insert(10)
H.print_table()

We can check to see if 10 is in the table. To do this, we need to search on bucket 3 only, not in the whole table. See function *in_table()*.

In [ ]:
H.in_table(10)

In [ ]:
H.in_table(15)

Let's set a few more operations

In [ ]:
L = [15, 27, 14, 10, 8, 7]

H = HashTableChain(7)
for i in L:
    H.insert(i)

H.print_table()

We can check table membership for a few items:

In [ ]:
for i in [1, 5, 7, 8, 10, 12]:
    print(i,H.in_table(i))

# **Sets**

A set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

The main advantage of sets over lists is that membership queries can be performed in O(1) time instead of O(n) using the **hash table** data structure described above.

Let's compare running times of membership queries for a list L and a set S, both containing the same elements.

First we'll build a list and a set with the integers from 0 to n in random order.

In [ ]:
import numpy as np

n = 1000
L = list(np.random.permutation(n))
S = set(L)

Now we'll perform a membership query for each of the integers in the 0 to 2n range. Thus, half the queries will return True, and half of them will return False - the results of the queries are not relevant here; we are interested in comparing running times.

In [ ]:
import time

start = time.time()
for i in range(2*n):
  t = i in L # Check membership and store in variable
elapsed_time1 = time.time() - start
print('elapsed time using list', elapsed_time1,'secs')

start = time.time()
for i in range(2*n):
  t = i in S  # Check membership and store in variable
elapsed_time2 = time.time() - start
print('elapsed time using set', elapsed_time2,'secs')

print('ratio',elapsed_time1/elapsed_time2)

As with lists, sets can have elements of any type (string, integer, float, boolean).

In [ ]:
S = set(['CS',2302,3.1416,True])

## **Set operations**

### Operations involving one set

In [ ]:
S =  set(['red','green','blue'])

Length

In [ ]:
len(S)

Creating an empty set

In [ ]:
S = set()
len(S)

Adding an element to a set

In [ ]:
S = set()
for i in range(5):
  S.add(i)
  print(S)
len(S)

If we try to add an element that is already in the set, the set doesn't change

In [ ]:
print(S)
S.add(3)
print(S)

Notice that sets are not subscriptable, since they are unordered collections. See below:

In [ ]:
print(S[0])

However, can iterate over the members of a set using a for loop without indexing

In [ ]:
L = [1,2,3,4,5]
S=  set(L)
for s in S:
  print(s)

Removing an element from a set

In [1]:
S = set(np.arange(5))
for i in range(5):
  S.remove(i)
  print(S)
len(S)

NameError: name 'np' is not defined

If we try to remove an element that is not in the set, we get an error

In [ ]:
S = set(np.arange(5))
S.remove(8)

Membership queries

In [ ]:
'red' in S

In [ ]:
'black' in S

In [ ]:
0 in S

In [ ]:
'red' not in S

In [ ]:
'black' not in S

## Operations involving two sets

In [ ]:
S1 = set(['red','orange','brown'])
S.isdisjoint(S1)

In [ ]:
S1 = set(['pink','orange','brown'])
S.isdisjoint(S1)

In [ ]:
S1 = set(['red'])
S.issubset(S1)  # Is S a subset of S1?

In [ ]:
S1 = set(['red'])
S1.issubset(S)  # Is S1 a subset of S?

In [ ]:
S1 = set(['red'])
S.issuperset(S1)  # Is S a superset of S1?

In [ ]:
S1 =  set(['red','green','blue'])
S2 = set(['red','orange','brown'])
print(S1.union(S2))

In [ ]:
print(S1.intersection(S2))

In [ ]:
print(S1.difference(S2))  # Elements in S1 but not in S2

In [ ]:
print(S2.difference(S1))  # Elements in S2 but not in S1

Since membership queries, insertions, and deletions  take O(1) time, issubset, issuperset, union, intersection, and difference take O(n) time.

Converting a list to a set and back to a list may alter the order of the elements, since sets are unordered collections.

In [ ]:
L = ['Monday', 'Tuesday', 'Wednesday']
S = set(L)
L = list(S)
print(L)

# Examples

**Example 1.** Write the function missing_item(L) that receives a list L that contains, in random order, all integers from 0 to len(L), except for one, and returns the missing integer.

In [ ]:
def missing_item(L):
    S = set(L)
    Sn = set(np.arange(len(L)+1))
    d = list(Sn.difference(S))[0]
    return d

In [ ]:
n = 10
L = list(np.random.permutation(n)[:-1])
print(L)
print('missing item', missing_item(L))

**Example 2.** Write the function has_duplicates(L) that receives a list L and determines if it contains duplicate elements.

Key observation: if we obtain a set from the elements of L, duplicates will be removed. We can thus just compare the length of L and the length of set(L) to determine if duplicates exist.

In [ ]:
def has_duplicates(L):
    return len(set(L)) < len(L)

In [ ]:
has_duplicates([1,4,2,6,8,9])

In [ ]:
has_duplicates([1,4,2,6,8,9,11,4,5])

**Example 3.** Write the function *missing_duplicate(L)* that receives a list *L* where every item appears twice except for one and returns the item that appears only once in *L*.

Idea:

Traverse *L*, the first time an item appears, we add it to an initially empty set; the second time it appears, we remove it. At the end, the set will contain only the item that appeared only once.

In [ ]:
def missing_duplicate(L):
    S = set()
    for i in L:
      if i not in S:
        S.add(i)
      else:
        S.remove(i)
    d = list(S)[0]
    return d

In [ ]:
missing_duplicate([5,2,4,3,1,0,3,0,2,1,5])

In [ ]:
L = [chr(i) for i in range(ord('a'),ord('m')+1)]
L = L+L
random.shuffle(L)
L.pop()
print(L)
print('Missing duplicate:', missing_duplicate(L))

## Exercises

**Exercise 1.** Write the function appears_in(LL) that receives a list of lists LL and returns a list with the elements that appear in at least one of the lists in LL.

For example, appears_in([[1,2,3,5,7,9,10],[2,4,6,8,10],[1,2,6,8,10,12]]) should return a list with the elements [1,2,3,5,7,9,10,4,6,8,12] (order doesn't matter).

In [ ]:
def appears_in(LL):
  S = set()
  for L in LL:
    S = S.union(set(L))
  return list(S)

In [ ]:
L = appears_in([[1,2,3,5,7,9,10],[2,4,6,8,10],[1,2,6,8,10,12]])
print(L)

**Exercise 2.** Write the function appears_in_all(LL) that receives a list of lists LL and returns a list with the elements that appear in all of the lists in LL.

For example, appears_in_all([[1,2,3,5,7,9,10],[2,4,6,8,10],[1,2,6,8,10,12]]) should return a list with the elements [2,10].

In [ ]:
def appears_in_all(LL):
  S = set(LL[0])
  for L in LL[1:]:
    S = S.intersection(set(L))
  return list(S)

In [ ]:
L = appears_in_all([[1,2,3,5,7,9,10],[2,4,6,8,10],[1,2,6,8,10,12]])
print(L)

We can iterate over the members of a set using a for loop (without indexing)

In [ ]:
L = [1,2,3,4,5]
S=  set(L)
for s in S:
  print(s)