# **CS 2302 Data Structures**

**Lists in Python**

**Author:** [Olac Fuentes](http://www.cs.utep.edu/ofuentes/)<br>
**Last modified:** 2021/08/27<br>
Please report errors to me.

# **Lists in Python**

A list is an ordered sequence of elements. Each element or value that is inside of a list is called an item. 

Lists in Python are mutable, that is, their values can be changed.

Items in a list are not required to have the same type.

To define a list in Python, we specify its name, followed by the values it contains, enclosed in brackets.

In [ ]:
L = [1,2,3]

List contents can be displayed using the print statement

In [ ]:
print(L)

A list can be empty

In [ ]:
L = []
print(L)


Items in a list are not required to have the same type.

In [ ]:
L = [1, 3.1416, 'CS 2302']
print(L)

Items in a list can also be lists!

In [ ]:
L = [1, 3.1416, 'CS 2302',['a','b','c']]
print(L)

Individual elements can be accessed using their index (starting with 0)

In [ ]:
L = [1, 3.1416, 'CS 2302']
print(L[0])

In [2]:
for i in range(3):
  print(L[i])

NameError: name 'L' is not defined

Elements can be modified

In [3]:
L = [1, 3.1416, 'CS 2302']
print(L)
L[1] = 'pi'
print(L)

[1, 3.1416, 'CS 2302']
[1, 'pi', 'CS 2302']

To add an element to the end of a list, we use the append function

In [1]:
L = [10,20,30]
print(L)
L.append(40)
print(L)

[10, 20, 30]
[10, 20, 30, 40]

To add an element in a specific position, we use the insert function

In [2]:
L = [10,20,30]
print(L)
L.insert(1,40)
print(L)

[10, 20, 30]
[10, 40, 20, 30]

To remove the element at the end of a list, we use the pop function, which also returns the element that was removed

In [8]:
L = [10,20,30]
print(L)
i = L.pop()
print(i)
print(L)

[10, 20, 30]
30
[10, 20]

To remove an element at a specific position, we pass its index to the pop function, which also returns the element that was removed

In [7]:
L = [10,20,30]
print(L)
i = L.pop(1)
print(i)
print(L)

[10, 20, 30]
20
[10, 30]

Python allows negative indices. -1 is the index of the last element, -2 is the index of the next to last element, and so on.

In [ ]:
L = [10,20,30,40,50]
print(L[-1])
print(L[-3])
print(L[5])
print(L[-6])

We can check if an element is present in a list using the 'in' operator

In [ ]:
L = [10,20,30]
print(L)
print(20 in L)
print(40 in L)

We can also use the 'not in' operator

In [ ]:
L = [10,20,30]
print(L)
print(20 not in L)
print(40 not in L)

We can access a range of items in a list by using the slicing operator :(colon).

In [ ]:
L = [10,20,30,40,50]
print(L[1:4])

The syntax to access a range of element is as follows: L[start:end:step]. 

If start is not specified, if defaults to 0.

If end is not specified, it defaults to the list length (as in the range function, end is non-inclusive)

If step is not specified, it defaults to 1.

If only one ':' is included, step defaults to 1.

In [ ]:
L = [10,20,30,40,50,60,70,80,90,100]

In [4]:
print(L[:5])

[1, 'pi', 'CS 2302']

In [ ]:
print(L[5:])

In [ ]:
print(L[1:8:2])

In [ ]:
print(L[1::2])

Slices can be empty

In [ ]:
print(L[20:])

We can create a slice using the slice function and apply it to multiple lists. The slice function accepts arguments in the same order as in slice notation, and if you need to skip some element, just use None.

In [ ]:
L1 = [10,20,30,40,50,60,70,80,90,100]
L2 = [4,2,3,1,5,0,7]
s = slice(None,5,None)
print(L1[s])
print(L2[s])
s = slice(None,None,3)
print(L1[s])
print(L2[s])
s = slice(1,6,2)
print(L1[s])
print(L2[s])

The function len(L) returns the length of list L

In [ ]:
L = [10,20,30,40,50,60,70,80,90,100]
print(len(L))
print(len([]))
print(len(L[5:]))

Lists can be concatenated using the + operator

In [6]:
A = [1,2,3] 
B = [4,5,6] 
C = A + B 
print(C)

[1, 2, 3, 4, 5, 6]

We can iterate over the elements of a list using a for loop and the range function

In [5]:
L = [10,20,30,40,50,60,70,80,90,100]
for i in range(len(L)):
  print(L[i])

10
20
30
40
50
60
70
80
90
100

An often more convenient way involves iterating directly over the elements of the list:

In [4]:
L = [10,20,30,40,50,60,70,80,90,100]
for item in L:
  print(item)

10
20
30
40
50
60
70
80
90
100

We can access indices and items using **enumerate**

In [ ]:
L = [10,20,30,40,50,60,70,80,90,100]
for i, item in enumerate(L):
  print(item,'is in position',i)

There are many built-in list functions, including the following:

list.remove(x) - Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [ ]:
L = [100,50,90,60,20,40,70,80,30,10,50,60]
print(L)
L.remove(60)
print(L)

In [ ]:
L = [100,50,90,60,20,40,70,80,30,10,50]
print(L)
L.remove(2302)
print(L)

list.count(x) - Return the number of times x appears in the list.

In [ ]:
L = [100,50,90,60,20,40,70,80,30,10,50]
print(L)
print(L.count(45))
print(L.count(50))
print(L.count(100))

list.sort(reverse=False) - Sort the items of the list in place

In [ ]:
L = [100,50,90,60,20,40,70,80,30,10,50]
print(L)
L.sort()
print(L)

In [ ]:
L = [100,50,90,60,20,40,70,80,30,10,50]
print(L)
L.sort(reverse=True)
print(L)

list.reverse() - Reverse the elements of the list in place.

In [5]:
L = [100,50,90,60,20,40,70,80,30,10,50]
print(L)
L.reverse()
print(L)

[100, 50, 90, 60, 20, 40, 70, 80, 30, 10, 50]
[50, 10, 30, 80, 70, 40, 20, 60, 90, 50, 100]

list.index(x[, start[, end]]) - Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
print(L)
i = L.index(50)
print(i)

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
print(L)
i = L.index(50,2)
print(i)

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
print(L)
i = L.index(50,6)
print(i)

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
print(L)
i = L.index(2302)
print(i)

## **List comprehension**

List comprehension offers a compact and convenient way of creating lists in Python

Lets create a list containing the squares of all integers from 0 to 10 (non-inclusive)

In [ ]:
S = []
for i in range(10):
  S.append(i**2)
print(S)

The same operation can be expressed in a single line of Python code:

In [ ]:
S = [i**2 for i in range(10)]
print(S)

We can also include conditional statements in list comprehension.

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
L1 = [i for i in L if i>50]
print(L1)

See https://docs.python.org/3/tutorial/datastructures.html for more on lists.

Many of the Python built-in functions can be applied to lists. See https://docs.python.org/3/library/functions.html

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
print(L)
Ls =  sorted(L)
print(L)
print(Ls)

In [ ]:
L = [100,50,90,60,20,50,40,70,80,30,10,50]
print(min(L))
print(max(L))
print(sum(L))
print(type(L))

We can compare lists using the '==' operator

In [ ]:
L1 = [1,2,3]
L2 = [1,2,3,4]
L3 = [5,2,1]
L4 = [1,2,3]
L5 = []
print(L1==L1)
print(L1==L2)
print(L1==L3)
print(L1==L4)

# **Exercises**

**Exercise 1.** Write the function list_range(start,end) that returns a list containing the integers from start to end (non-inclusive). If start is greater or equal to end, your function should return an empty list.

In [ ]:
def list_range(start,end):
  return [i for i in range(start,end)]
  
L = list_range(0,5)
print(L)
L = list_range(5,0)
print(L)
L = list_range(5,8)
print(L)
L = list_range(6,6)
print(L)

**Exercise 2.** Modify the list_range function as follows. If start is greater than end, return a list containing the integers from start down to end (non-inclusive)

In [ ]:
def list_range(start,end):
  step = 1
  if start>end:
    step = -1
  return [i for i in range(start,end,step)]
  
L = list_range(0,5)
print(L)
L = list_range(5,0)
print(L)
L = list_range(5,8)
print(L)
L = list_range(6,6)
print(L)

**Exercise 3.**Write the function first(L) that returns the first item in list L, or None if L is empty.

In [ ]:
def first(L):
  if len(L)>0:
    return L[0]
  return None

L1 = [1,2,3]
L2 = [1,2,3,4]
L3 = [5,2,1]
L4 = [1,2,3]
L5 = []
print(first(L1))
print(first(L2))
print(first(L3))
print(first(L4))
print(first(L5))

**Exercise 4.** Write the function last(L) that returns the last item in list L, or None if L is empty.

In [1]:
def last(L):
  if len(L)>0:
    return L[-1]
  return None

L1 = [1,2,3]
L2 = [1,2,3,4]
L3 = [5,2,1]
L4 = [1,2,3]
L5 = []
print(last(L1))
print(last(L2))
print(last(L3))
print(last(L4))
print(last(L5))

3
4
1
3
None

**Exercise 5.** Write the function firstN(L,n) that returns a list containing the first n items in list L, or the whole list if it contains less than n items.

In [ ]:
def firstN(L,n):
  return L[:n]

L1 = [10,20,30]
L2 = [5,11,22,33,14]
L3 = []

for L in [L1,L2,L3]:
  for n in [1,2,4]:
    print('L =',L,'n =',n)
    print(firstN(L,n))

**Exercise 6.** Modify your the function firstN(L,n) so n becomes an optional parameter with default value 1. Thus, firstN([2,3,4]) should return [2].

In [ ]:
def firstN(L,n=1):
  return L[:n]
  
L1 = [10,20,30,40]

print(firstN(L1))
print(firstN(L1,2))
print(firstN(L1,20))

**Exercise 7.** Write the function lastN(L,n) that returns a list containing the last n items in list L, or the whole list if it contains less than n items. Use a default value of 1 for n, so lastN([1,2,3]) returns [3]

In [ ]:
def lastN(L,n=1):
  return L[-n:]

L1 = [10,20,30,40]

print(lastN(L1))
print(lastN(L1,2))
print(lastN(L1,20))

**Exercise 8.** Write the function swapFirstAndLast(L) that swaps the first and last elements in L.

In [ ]:
def swapFirstAndLast(L):
  if len(L)>1:
    L[0],L[-1] = L[-1], L[0]

L1 = [1,2,3]
L2 = [1,2,3,4]
L3 = [5,2,1]
L4 = [1,2,3]
L5 = [8]
L6 = []

for L in [L1,L2,L3,L4,L5,L6]:
  print(L)
  swapFirstAndLast(L)
  print(L)

**Exercise 9.** Write the function replace(L,a,b) that replaces all occurrences of a by b in list L.

In [ ]:
def replace(L,a,b):
  for i in range(len(L)):
    if L[i]==a:
      L[i]=b

L1 = [1,2,3,6,9,6,3,0]
L2 = [1,2,3,4,5]
L3 = [5,2,1,21,43,7]
L4 = [10,20,30,45,93,2302,3,3,3,3]
L5 = [3]
L6 = []
L7 = [2021]

for L in [L1,L2,L3,L4,L5,L6,L7]:
  print(L)
  replace(L,3,-1)
  print(L)